:root {
  --night: #000f08;
  --dark: #3e2f5b;
  --middle: #f34213;
  --light: #e0ca3c;
}

* {
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--dark);
  color: #fff;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

main,
section {
  padding: 1em;
}

input,
select,
button {
  font-size: 1rem;
  margin-bottom: 0.5em;
  border-radius: 0.5em;
  padding: 0.25em 0.5em;
}
button {
  background-color: var(--light);
  color: var(--night);
  font-weight: bold;
  border: none;
}

section {
  background-color: var(--night);
  border-radius: 0.5em;
  margin: 1em auto;
}

.right {
  text-align: right;
}
