:root {
  --dark: #5c2751;
  --light: #f4c095;
}

* {
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: var(--dark);
  color: #fff;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

main,
section {
  padding: 1em;
}

input {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
}

section {
  color: var(--dark);
  background-color: var(--light);
  border-radius: 0.5em;
  margin: 1em auto;
}
